/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body{
    position: relative;
}
.display_none{display:none;}
.contentFlyer h3.title-prefix:before {
    content: "\f041";
    /* width: 32px; */
    font-size: 32px !important;
    display: inline-block;
    text-align: right;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -20px;
    padding-right: 15px;
    display: inline-block !important;
    color: #fff;
    margin-top: -27px !important;
    vertical-align: middle;
}

.fl-page {
    width: auto;
    overflow: hidden;
}
.fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-photo-wrap {
    width: auto!important;
}
.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.container.fl-content-full > .row > .fl-content{
    margin: 0;
}

.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col{
	padding-right:0;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li{
    margin-right: 10px;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a{
    text-transform: uppercase;
    padding: 15px 20px;
    color: #292929;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}
.navbar .nav .menu-item-has-children>a:after{
    margin-top: 0;
    content: "\f107";
    font-size: 130%;
}

.footermenu .menu-item a{
    color: #FBFBFB;
    font-family: Roboto;
    font-size: 12px;
    line-height: 23px;
}
.fl-content-slider .fl-content-slider-wrapper .fl-slide-text-left .fl-slide-foreground{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 8;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.home-tab .fl-tabs-labels{
    background-color: #a1907e;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text{
	float: left;
	font-size: 14px;
	width: 100%;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span{
	float: left;
	font-weight: 600;
	letter-spacing: 0.47px;
	line-height: 16px;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text a{
    color: #fff;
}
ul.storename {
    padding: 0;
    list-style: none;
}

.fl-module-content-slider .bx-wrapper {
    margin: 0 auto 0px;
}

.bx-pager.bx-default-pager {
    z-index: 1;
    position: absolute;
    bottom: 45px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	background: #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{
	background: transparent;
	border: 1px solid #ffffff;
}

.fl-col-group .top-slider-bottom-image{
	margin-top: -60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel p:first-child{
	margin: 0px;
}

body.page-id-360033 .fl-page-header-primary .fl-logo-img {
    content: url(https://www.maccosflooring.com/wp-content/uploads/2019/06/Maccos-Commerical-Interiors-logo-black.png);
}

.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info h4.fl-cta-title{
	color: #FFFFFF;
    font-size: 44px;
    font-weight: 300;
    line-height: 28px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 61px;
	line-height: 60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content p{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 24px;
    padding-top: 15px;
}

.home-page-second-slider .fl-slide-text-left .fl-slide-foreground{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-page-second-slider .fl-slide-text-left .fl-slide-foreground .fl-slide-photo-wrap{
    order: -1;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap{
	float: right;
	margin: 100px auto;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content{
	margin: 0;
    background: #ffffff;
    padding: 60px;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content h2{
		color: #323232;
    font-size: 29px;
    font-weight: 600;
    line-height: 28px;
}


.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content .fl-slide-text p:first-child{
	color: #000000;
	font-size: 13px;
	font-weight: 300;
	line-height: 19px;
}

.home-page-second-slider .fl-content-slider-wrapper .fl-slide .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn {
	    border-radius: 3px;
    background-color: #384E77;
    color: #FFFFFF;
    font-family: "PT Sans Narrow";
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 17px 30px;
    text-align: center;
}


.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content h3{
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.97px;
	line-height: 20px;
	margin-bottom: 0px !important;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text h1{
    color: #FFFFFF;
    font-size: 51px;
    line-height: 60px;
	margin-bottom: 0px !important;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text p{
	  color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}


.paint-stains-bottom-sec-info .fl-module-content{
	padding: 40px 52px 40px 60px;
  background: #ffffff;
}

.paint-stains-bottom-sec-info .fl-module-content .fl-rich-text p{
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn {
	    border-radius: 3px;
    background-color: #384E77;
    color: #FFFFFF;
    font-family: "PT Sans Narrow";
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 17px 30px;
    text-align: center;
}

.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn:focus,
.main-top-slider-paint-stains .fl-content-slider .fl-slide-content-wrap .fl-slide-content .fl-slide-text .btn:hover {
	background: #EFEFEF;
	color: #000000;
}

.slider-menu{ display: none;}
.home-tab .fl-tabs-horizontal .fl-tabs-labels{ text-align: center;}
.home-tab .fl-tabs-horizontal .fl-tabs-labels .fl-tabs-label{ float: none; display: inline-block; vertical-align: top;}
.store-container > div{
    margin-bottom: 20px;
}
.fl-page-bar-container a{
    text-decoration: none !important;
}
.fl-page-bar-container h1{
    margin: 0 !important;
    font-size: 12px !important;
    text-decoration: none !important;
}

/* Zoom in on hover */
.hover-zoom-in .fl-photo-content {
  overflow: hidden;
}
.hover-zoom-in .fl-photo-content .fl-photo-img {
  -webkit-transition: 0.6s ease-in-out;
          transition: 0.6s ease-in-out;
  will-change: transform;
}
.hover-zoom-in .fl-photo-content .fl-photo-img:hover {
  -webkit-transition: 0.6s ease-in-out;
          transition: 0.6s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.uabb-tab-link{
    border-bottom: 3px solid transparent !important;
}
.uabb-tab-current .uabb-tab-link{
    border-bottom: 3px solid #428bca !important;
}

.uabb-tab-acc-content{
    padding: 0px !important;
}
.fl-node-5cc82f320f397 .uabb-tabs-style-iconfall .uabb-tabs-nav5cc82f320f397 li::before,
.fl-node-5cb737cc253f5 .uabb-tabs-style-iconfall .uabb-tabs-nav5cb737cc253f5 li::before {
    height: 0px !important;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block!important;
    text-align: center!important;
}

a.button, a.fl-button, 
a.fl-button:visited, 
.fl-builder-content a.fl-button, 
.fl-builder-content a.fl-button:visited {
    border-radius: 3px;
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none;
}


.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center!important;
    cursor: pointer;
}

.locations-details p{
    margin: 0px !important;
}

.locations-details h2{
    margin: 0px !important;
}

.locations-details h1 a:hover,
.locations-details a:hover p,
.locations-details a:hover span:hover{
    color: #897763 !important;
}

.locations-details h1 a,
.locations-details a p,
.locations-details a span{
    color: #000000 !important;
}

.locations-details .direction a{
    background: #897763 !important;
    border: 1px solid #897763 !important; 
}

.locations-details .direction a:hover{
    background: #ffffff !important;
}

.locations-details .direction a span{
    color: #ffffff !important;
}  
.locations-details .direction a:hover span{
    color: #897763 !important;
}   

.bg-50-percent-width > .fl-row-content-wrap{
    background-size: 50% auto;
}

/* Featured Products */
.featured-products .featured-product-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.featured-products .featured-product-list .featured-product-item {
    width: 25%;
}
.featured-inner{
    padding: 0 15px;
    margin: 0 0 20px;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap{
    position: relative;
    overflow: hidden;
    background: #fff;
    display: flex;
    min-height: 310px;
    align-items: center;
    border: 1px solid #ccc;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap img {
    max-width: none;
    max-height: 310px;
    width: auto;
    margin: 0 auto;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper{
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button{
    position: relative;
    top: 50px;
    background: #fff;
    border:1px solid #fff;
    font-size: 12px;

    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -ms-transition: top 0.3s;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button:hover{
    background: #212121;
    color: #fff;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button.alt{
    background: #a1907e;
    border-color: #a1907e;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button.alt:hover{
    background: #fff;
    color: #a1907e;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap:hover .button-wrapper{
    opacity: 1;
    visibility: visible;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap:hover .button-wrapper .button{
    top: 0;
}
.featured-products .featured-product-list .featured-product-item .product-info h5{
    margin: 15px 0 0px;
    clear: both;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}
.featured-products .featured-product-list .featured-product-item .product-info h5 a{
    color: #212121;
}
.featured-products .featured-product-list .featured-product-item .product-info h6{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
}
.featured-products .slick-arrow {
    position: absolute;
    top: -70px;
    right: 15px;
    background: none;
    border: 0;
    font-size: 0;
    display: block;
    padding: 0;
    opacity: 0.6;
}
.featured-products .slick-arrow:hover{
    opacity: 1;
}
.featured-products .slick-arrow.slick-disabled{
    opacity: 0.2;
    cursor: default;
}
.featured-products .slick-arrow:before{
    content: "\f105";    
    font: normal normal normal 30px/1 FontAwesome;
    color: #000;
}
.featured-products .slick-arrow.slick-prev{
    right: 40px;
}
.featured-products .slick-arrow.slick-prev:before{
    content: "\f104";

}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px!important;
}
.fl-slide-text > p {
    margin: 0px!important;
    padding: 0px!important;
}
.fl-slide-text > .fl-builder-content  {
    margin: 0px!important;
}
@media(max-width:1024px){
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a{
        padding: 15px 10px;        
    }
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li{
        margin-right: 0;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a{
        padding: 10px 6px;
    }
}
@media(max-width:992px){
    .fl-page-header-primary .fl-page-header-logo-col{ width: 100%; text-align: center; padding: 0 45px !important;}
    .fl-page-header-primary .fl-page-header-logo-col .fl-page-header-logo{ text-align: center;}
    .fl-page-bar .col-sm-6{ width: 100%; text-align: center;}
    .fl-page-bar-text{ padding: 0;}
    .fl-page-header-fixed{ display: none !important;}
    .bg-50-percent-width > .fl-row-content-wrap{
        background-size: cover;
    }
    #responsive-menu-additional-content .storename .phone span{
        color: #fff;
    }
    .product-row>div.col-md-3:nth-child(4n+1){
        clear: none!important;
    }
    .gform_wrapper form .clear-multi .gfield_time_ampm select{
        max-width: 100px!important;
        width: 60px!important;
        padding: 7px 10px 6px 3px!important;


    }
    .active-gallery-modal .fl-row-content-wrap .product-box a.fl-button{
        margin: 0px auto;
    }
    .home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-text-content h1{
        font-size: 41px;
        line-height: 40px;
    }
}
@media(max-width:768px){
    .fl-col-small { max-width: 100%;}
    .flooring-products .fl-photo-content img{ width: 100%;}
    #menu-copyright-bar-menu{ text-align: center;}
    #menu-copyright-bar-menu > li{ display: inline-block; vertical-align: top; border-top:0; border-right:1px solid;}
    #menu-copyright-bar-menu > li:last-child{ border-right: 0;}

    .fl-module-content-slider .fl-slide .fl-slide-content{ background: none !important;}
	    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		padding: 0px!important;
	}
}
@media(max-width:767px){
    .fl-page-header-primary .fl-page-header-logo-col .fl-page-header-logo{ margin: 0;}
}
@media(max-width:430px){
    button#responsive-menu-button{ top: 0px !important;}
}
@media screen and (max-width: 600px){
    #wpadminbar { position: fixed;}
}
@media only screen and (min-width: 321px){
	.gform_wrapper .gfield_time_ampm{
	    max-width: calc(7rem + .5rem)!important;
	}	

}
.gform_wrapper.gf_browser_chrome .gfield_time_ampm > select {
    max-width: 60px!important;
    width: 60px!important;
	    min-width: 60px!important;
}


.content .store-cta-link:before{
	content: "\f061";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    margin-bottom: 10px;
}
#storeLocation .content a{
	color: #333!important;
    font-size: 14px!important; 
}	
#storeLocation .content a:hover{
	color: #958472!important;
}
#storeLocation .store-hour.phone{
	color: #333!important;
    font-size: 14px!important;

}
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: "Josefin Sans",sans-serif;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Josefin Sans",sans-serif;
	text-transform: uppercase;
}
.header_store .title-prefix > a {
	font-weight: 600;
}
.content .store_wrapper {
padding: 40px 20px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}
.changeLocation .content {
	padding: 40px 20px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
.changeLocation .closebtn:hover{

color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: #000 !important;
}
.locationWrapFlyer .contentFlyer h3{
    color: #000!important;
}

#storeLocation .store-hour{
	color: #000!important;
}
#storeLocation .content {
/* 	color: #000;  */
    width: 90%;
	margin: 0 auto;
}
.contentFlyer *{
	font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;

}   
.contentFlyer p{
    letter-spacing: 1px;
	line-height: 0.9em;
	    font-size: 15px;
	color: #000 !important;
}    

#storeLocation .phoneIcon:before{
    text-indent: 0;
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    margin-top: 2px;    
}
#storeLocation .store-hour{
    margin-top: 5px;    
}

/* ip location css */
.locationWrapFlyer .contentFlyer{
	background-color: transparent;
    padding: 20px 20px 10px;

}
.locationWrapFlyer .contentFlyer {
    float:right;
    overflow: hidden!important;
}
.locationWrapFlyer .contentFlyer > div{
    width: 200px;    
	text-align: left;
}
.locationWrapFlyer .icons > i{
	background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}
.locationWrapFlyer .icons > i:hover{
	cursor: pointer;
}
.locationWrapFlyer .contentFlyer h3{
	color: #4a5259!important;
	margin-top: 4px;	
}
.locationWrapFlyer{
	padding-right: 10px!important;
}
.locationWrapFlyer .contentFlyer h3{
    margin: 0px!important;
	color: #4a5259!important;
	margin-top: 4px!important;	
}
.locationWrapFlyer .contentFlyer p{
    margin: 0px!important;
}
.locationWrapFlyer .contentFlyer h5{
    margin: 0px!important;
    margin-top: 14px!important;
}
.locationWrapFlyer .contentFlyer .headeropenFlyer{
	letter-spacing: 0.6px;
    font-size: 13px;
}
 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* .header_store {
    color: black;
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 99999;
} */

.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}

.content .store-cta-link:before{
	content: "\f061";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
}
#storeLocation .content a{
	color: #333!important;
    font-size: 14px!important; 
}	

#storeLocation .store-hour.phone{
	color: #333!important;
    font-size: 14px!important;

}
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: "Josefin Sans",sans-serif;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Josefin Sans",sans-serif;
	text-transform: uppercase;
}
.header_store .title-prefix > a {
	font-weight: 600;
}
.content .store_wrapper {
padding: 40px 20px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}
.changeLocation .content {
	padding: 40px 20px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
.changeLocation .closebtn:hover{

color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: #000 !important;
}
.locationWrapFlyer .contentFlyer h3{
    color: #000!important;
}

#storeLocation .store-hour{
	color: #000!important;
}
#storeLocation .content {
/* 	color: #000;  */
    width: 90%;
	margin: 0 auto;
}
.contentFlyer *{
	font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;

}   
.contentFlyer p{
    letter-spacing: 1px;
	line-height: 0.9em;
	    font-size: 15px;
	color: #000 !important;
}    

#storeLocation .phoneIcon:before{
    text-indent: 0;
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    margin-top: 2px;    
}
#storeLocation .store-hour{
    margin-top: 5px;    
}

/* ip location css */
.locationWrapFlyer .contentFlyer{
	background-color: transparent;
    padding: 20px 20px 10px;

}
.locationWrapFlyer .contentFlyer {
    float:right;
    overflow: hidden!important;
}
.locationWrapFlyer .contentFlyer > div{
    width: 200px;    
	text-align: left;
}
.locationWrapFlyer .icons > i{
	background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}
.locationWrapFlyer .icons > i:hover{
	cursor: pointer;
}
.locationWrapFlyer .contentFlyer h3{
	color: #4a5259!important;
	margin-top: 4px;	
}
.locationWrapFlyer{
	padding-right: 10px!important;
}
.locationWrapFlyer .contentFlyer h3{
    margin: 0px!important;
	color: #4a5259!important;
	margin-top: 4px!important;	
}
.locationWrapFlyer .contentFlyer p{
    margin: 0px!important;
}
.locationWrapFlyer .contentFlyer h5{
    margin: 0px!important;
    margin-top: 14px!important;
}
.locationWrapFlyer .contentFlyer .headeropenFlyer{
	letter-spacing: 0.6px;
    font-size: 13px;
}
 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* .header_store {
    color: black;
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 99999;
} */

.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}